*{
padding: 0;
margin: 0;
 box-sizing: border-box;
}
header{
    background-color: rgb(255, 255, 255);
    
}
.container_header{
    display: flex;
    height: auto;
    padding: 20px 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
.logo img{
    width: 20%;
}
.logos_RedeSocial i{
    font-size: 25px;
    padding: 0 5px;
    color: #3358DD;
    
}


.user{
    width: 100%;
    height: auto;
    background-color: rgb(236, 236, 236);
}
.ContainerUser{
    display: flex;
    padding: 10px;
    padding: 15px 10px 10px 0px;
    width: 80%;
    margin: 0 auto;

}
.fotoUser img{
    width: 50px;
}

.DadosUsuario{
    padding: 0 10px;
}
.DadosUsuario span{
    color: #fff;
    background-color: #3358DD;
    padding: 5px 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
.DadosUsuario a{
    text-decoration: none;
}

.DadosUsuario h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3358DD;
    text-transform: uppercase;
    padding-top: 5px;
}

.DadosUsuario h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 100;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar{
    background-color: #3358DD;
    height: 100vh;
    width: 15%;
}

.menus_sideBar ul li{
    color: #fff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.menus_sideBar ul a{
    text-decoration: none;

}
.menus_sideBar ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    transition: 0.8s;

}

.menus_sideBar ul li:hover{
    background: white;
    color: #3358DD;
}

.activeMenu{
    color: #fffb00 !important;
}
.activeMenu:hover {
    color: #3358DD !important;
}

main{
    max-width: 85%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.Container_titleNotas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container_titleNotas img{
    width: 180px;
    padding: 20px;
}

.traco{
    height: 1px;
    width: 300px;
    background-color: #C4C4C4;
    margin-top: 10px;
}

.titleNotas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.titleNotas h1{
    font-size: 25px;
    color: #808080;
    font-family: Arial, Helvetica, sans-serif;

}

.Container_notas{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.blocoAtividade2{  
background: #FFFFFF;
box-shadow: 2px 4px 22px rgba(0, 0, 0, 0.25);
border-radius: 13px;
display: flex;
justify-content: center;
flex-direction: column;
width: 100%;
margin: 20px;

}

.acordion_button{
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #808080;
}
.acordion_content{

}
