
section.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: color white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

section.modal div#card{
    width: 25rem;
    position: relative;
    background-color: blue;
    border-radius: 2rem;
    padding: 2rem; 

}

section.modal div#card p{
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
}

section.modal div#btns{
    display: flex;
    justify-content: center;
    padding:2rem;
}

section.modal div#card div#btns a{
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 7rem;
    text-align: center;
}

section.modal div#card div#btns a.btn-sair{
    background-color:rgb(172, 46, 1);
    color: white;
    border: solid 1px white;
    margin-right: 1rem;
}

section.modal div#card div#btns a.btn-sair:hover{
    background-color:orangered;
    color: white;
}

section.modal div#card div#btns a.btn-cancelar{
    background-color:rgb(10, 168, 10);
    color: white;
    border: solid 1px white;
    margin-right: 1rem;
}

section.modal div#card div#btns a.btn-cancelar:hover{
    background-color:rgb(11, 226, 11);
    color: white;
}