* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
  
html,
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    height: auto;
}
  
a {
    text-decoration: none;
}
  
ul {
    list-style: none;
}
  
button {
    cursor: pointer;
}

.container_header{
    display: flex;
    height: auto;
    background-color: #fff;
    padding: 20px 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.logo img{
    width: 20%;
}

.logos_RedeSocial i{
    font-size: 25px;
    padding: 0 5px;
    color: #3358DD;
}

.user{
    width: 100%;
    height: auto;
    background-color: rgb(236, 236, 236);
}

.ContainerUser{
    display: flex;
    padding: 10px;
    padding: 15px 10px 10px 20px;
    width: 100%;
    margin: 0 auto;
}

.fotoUser img{
    width: 50px;
}

.DadosUsuario{
    padding: 0 10px;
}

.DadosUsuario span{
    color: #fff;
    background-color: #3358DD;
    padding: 5px 10px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

.DadosUsuario a{
    text-decoration: none;
}

.DadosUsuario h2{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3358DD;
    text-transform: uppercase;
    padding-top: 5px;
}

.DadosUsuario h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    font-weight: 100;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sidebar{
    background-color: #3358DD;
    width: 15%;


}

.menus_sideBar ul i{
    display: none;
}

.menus_sideBar ul li{
    color: #fff;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.menuAcordion > .acordion_content a{
    color:#fff;
}

.menuAcordion > .acordion_content ul li:hover{
    background: white;
    color: #000;
}

.menus_sideBar ul a{
    text-decoration: none;
}

.menus_sideBar ul li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    transition: 0.8s;
}

.menus_sideBar button{
    border: 0;
    border-radius: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    background: #3358DD;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 20px;
    transition: 0.8s;
    cursor: pointer;
}

.aluno {
    display: none;
}

.menus_sideBar button:hover{
    background: white;
    color: #3358DD;
}

.menus_sideBar ul li:hover{
    background: white;
    color: #3358DD;
}

.activeMenu li{
    color: #fffb00 !important;
}
.activeMenu:hover li{
    color: #3358DD !important;
}

/* adicionar o main aqui! */
main{
    width: 100%;
}
.title-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px 0px 50px;
}
.title-atividade{
    text-align: center;
}
.title-container .title-atividade h2{
    color: red;
    font-weight: 500;
    font-size: 1.9rem;
}
.title-container .title-atividade h2 span{
    font-weight: 800;
}
.title-container .title-atividade h3{
    color: #808080;
    font-weight: 500;
    font-weight: 1.7rem;
}
.title-container .title-atividade small {
    font-size: 20px;
    color: #33DD77;
}
.button-editar button{
    background-color: #3358DD;
    width: 140px;
    height: 40px;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    font-size: 17px;
    transition: all ease 0.6s;
}

.button-editar button:hover{
    background-color: #6083ff;
}

.traco{
    width: 100%;
    height: 0.5px;
    border: 0.5px solid #c6c6c6;
    margin-top: 50px;
    margin-bottom: 50px;

}
.container-perg{
    margin-top: 30px;
   
}
.pergunta{
    margin: 0 auto;
    width: 80%;

}
.sum-pergunta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.sum-pergunta h1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 35px;
text-transform: capitalize;

color: #3358DD;
}
.title-pergunta h5{
    font-style: normal;
font-weight: 500;
font-size: 19px;
line-height: 24px;
text-align: justify;

color: #6D6D6D;
}

.pergunta ol{
    /* list-style: upper-alpha; */
    margin-top: 30px;
}

.pergunta ol li{
    margin-top: 20px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 23px;
text-align: justify;
text-transform: capitalize;

color: #6D6D6D;
}


footer{
    background-color: #ffffff;
    height: 30px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}






/* pra cima */

@media (max-width: 900px) {
    .banners {
      flex-direction: column;
      align-items: center;
    }
  
    .bannerPrincipal img {
      max-width: 400px;
    }

    .menus_sideBar ul li {
        display: none;
    }

    .menus_sideBar ul i{
        color: #fff;
        padding-top: 15px;
        padding-bottom: 10px;
        text-align: center;
        transition: 0.8s;
        display: block;
    }

    .menus_sideBar ul i:hover{
        background: white;
        color: #3358DD;
    }

    .activeMenu i{
        color: #fffb00 !important;
    }
    .activeMenu:hover i{
        color: #3358DD !important;
    }
}